body {
    background-color: #F8E3E3;
    font-family: serif;
    }

.card {
    background-color: #F8E3E3;
    border: solid #8C041D 1px;
}

.blocimage {
    max-width: 500px;
    max-height: 500px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

strong {
    font-weight: normal;
}

.infoPratique {
    font-size: 90%;
    line-height: 0.8;
    font-style: italic;
}



/* BUTTONS */
.filterStyle, .btnStyle {
    background-color: #8C041D;
    border-color: #8C041D;
    color: white;
}


.btnStyle:hover, .filterStyle:hover {
    border-color:black;
    background-color: white;
    color: gold;
}

/* BACK TO TOP BUTTON */

#backtotop {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(58, 56, 56, 0.411); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  #backtotop:hover {
    background-color: #555;
  }

/* FILTERS */

.filterDiv {
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }

  .footercouleur {
    background-color: #8C041D;
    width: 100%;
    
}

.footerContainer {
    width: inherit;
}
  

  
  
