body {
    background-color: #F8E3E3;
    font-family: serif;
    }

.card {
    background-color: #F8E3E3;
    border: solid #8C041D 1px;
}

.blocimage {
    max-width: 500px;
    max-height: 500px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

strong {
    font-weight: normal;
}

.infoPratique {
    font-size: 90%;
    line-height: 0.8;
    font-style: italic;
}



/* BUTTONS */
.filterStyle, .btnStyle {
    background-color: #8C041D;
    border-color: #8C041D;
    color: white;
}


.btnStyle:hover, .filterStyle:hover {
    border-color:black;
    background-color: white;
    color: gold;
}

/* FILTERS */

.filterDiv {
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }

  .footercouleur {
    background-color: #8C041D;
    width: 100%;
    
}

.footerContainer {
    width: inherit;
}
  

  
  
