body{

  background-color: rgb(166, 43, 68);

}





.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 900px ;
  padding: 10px;
}


.grid-item1{

  background-image: url("https://i.imgur.com/aQ2ZL0C.png");
  background-repeat: no-repeat;
  background-size: 100px 80px;

}


.grid-item2{

 



}



.grid-item3::after{

  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 20px 15px;

  content: "";
  display: table;
  clear: both;


}


.column{

float: left;
width: auto;
padding: 5px;

}

