.actu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-items: start;
    
}

body{
    background-color:rgb(248, 227, 227);
}
/* lui represente l'image */
.gauche{
   
    flex-direction: row;
    width: 50%;
left: 100px;

}
/* lui represente le text */
.droite{
flex-direction: row;
    width: 50%;
    font-weight: bold;
    right: 30px;
    
}

.reservation{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: 200px;
background-color: rgb(71, 57, 57);
gap: 2%;

}
/* lui c'est le titre du block reservation */
#reserve{
    width: 100%;
    
    text-align: center;
    color: blanchedalmond;
}
/* du border 1 a 5 c'est les case de reservation  */
.border1{
    width: 10%;
    height: 20px;
    border-radius: 20px;
  
}
.border2{
    width: 10%;
    height: 20px;
    border-radius:20px;
    
}
.border3{
    width: 15%;
    height: 20px;
    border-radius:20px;
    
}
.border4{
    width: 15%;
    height: 20px;
    border-radius: 20PX;
    
}
.border5{
    width: 15%;
    height: 20px;
    border-radius:20PX;
   
}
/* lui il represente l'input valider */
 .border6{
    border-radius:5px;
    
  
 }
.valide
{
    width: 100%;
    text-align: center;
}
