body{


    
}

/* Affiche un grid DIV principale qui contient DEUX div, un a droite et un a gauche*/
.grid{

background-color: cadetblue;


width: 100%;
display: grid;
grid-template-columns: 30% 70%;
grid-template-rows: 150px;
column-gap: 10px;


}

/* regle la taille de l'image a partir de width dans grid */
.logo{

/* background-color: aqua; */
width: 100%;

}

/* regle la taille de l'image a partir de width dans logo qui lui meme se regle a partir de width dans grid */
.logo img{

width: 40%;
    
}


/* affiche le grid disposé a droite */
.parentDrapeauListeContact{


width: 100%;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50px 50px;
/* background-color: rgb(0, 255, 98); */
column-gap: 10px;
row-gap: 50px;


}

/* regle la dsposition de la barre de recherche */
.barreDeRecherche{

    /* background-color: rgb(17, 0, 255); */
    display: flex;
    justify-content: center;

      

}

/* rentre dans input pour regle la taille de la barre de recherche */
.parentDrapeauListeContact .barreDeRecherche input{


    width: 70%;
}


/* regle la disposition des drapeau */
.drapeau{

    /* background-color: rgb(234, 0, 255); */
   display: flex;
   justify-content: center;
    


}

/* permet l'affichage des drapeaux en ligne */
.drapeau li{

list-style: none;
display: inline

}


/* affiche le menu au centre */
.menuNav{

    /* background-color: rgba(182, 160, 63, 0.801); */
     display: flex;
    justify-content: center ;

}


/* enleve les trait qui soulignent les mots dans le menu, permet d'aligné la liste  et permet d'espacé les mots*/
.parentDrapeauListeContact .menuNav ul li{


    list-style: none;
    display: inline;
    margin: 5px;
    

}


/* enleve les tirets des balises ppour chaque a */
.parentDrapeauListeContact .menuNav ul li a{


    text-decoration: none;

}


/* permet d'ajouter une fonction surligner les boutons au passages de la souris */
.parentDrapeauListeContact .menuNav ul li a:hover {

    background-color: gold;

}


/* permet de faire disparaitre le menu pour l'icone menu burger */
.parentDrapeauListeContact .menuNav ul li a img{

    visibility: hidden;
    width: 0%;


}

/* permet de regler la position de l'icone contact */
.iconContact{

    /* background-color: rgb(187, 255, 0); */
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-right: 18px;

}










/* permet d'afficher une version portable du site internet */
@media screen and ( max-width:600px){


    
/* Affiche un grid DIV principale qui contient DEUX div, un a droite et un a gauche*/
    .grid{

        /* background-color: rgb(5, 3, 5); */
        
        
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px;
        column-gap: 10px;
        
        
        }
        
        /* regle la taille de l'image a partir de width dans grid */
        .logo{
        
            display: flex;
            align-items: center;
       
        /* background-color: aqua; */
        
        }
        
        /* regle la taille de l'image a partir de width dans logo qui lui meme se regle a partir de width dans grid */
        .logo img{

            
            width: 100%;
            height: 80%;


        }


        /* affiche le grid disposé a droite */
        .parentDrapeauListeContact{
        
        
        width: 100%;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 132px 130px;
        /* background-color: rgb(0, 255, 98); */
        column-gap: 5px;
        row-gap: 0px;
        align-items: center;
        

        

      
        }
        
        /* permet de se reperer dans le grid pendant la phase de devellopement */
        .barreDeRecherche{
        
            /* background-color: rgb(17, 0, 255); */
            
        
        
        }


        /* regle la taille de la barre de recherche */
        .parentDrapeauListeContact .barreDeRecherche input{


            width: 80px;



        }
        
        
        /* permet de faire disparaitre les drapeau lors du passage en media query sur mobile et tablette */
        .drapeau{
        
            /* background-color: rgb(234, 0, 255); */
            display: none;
        
        }
        
        

        /* permet de regler la disposition de l'icone qui represente le menu de navigation burger */
        .menuNav{
        
           /* background-color: rgb(255, 0, 0); */
           display: flex;
           justify-content: center;
           
        
        
        }


        

        /* permet de cacher la liste qui se fait remplacer par l'icone menu burger */
        .parentDrapeauListeContact .menuNav ul{


      
       
        visibility: hidden;

        }




        /*permet d'afficher le menu buger lors du passage en media query sur mobile et tablette  */
        .parentDrapeauListeContact .menuNav ul .icon{

            width: 30%;
            visibility: visible;
        }



        /* permet de regler la disposition de l'icone contact */
        .iconContact{
        
            /* background-color: rgb(187, 255, 0); */
            display: flex;
            justify-content: center;
        
        }

        /* permet de regler lataille de l'icone contact */
        .parentDrapeauListeContact .iconContact img{

          width: 50%;
          

        }
        
}